li.catalog-card
    .catalog-card__main
        img(src="./img/catalog01.jpg" alt="")
        span Мойки
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog02.jpg" alt="")
        span Смесители
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog03.jpg" alt="")
        span Аксессуары
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog04.jpg" alt="")
        span Плиты
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog05.jpg" alt="")
        span Умывальники
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog06.jpg" alt="")
        span Столешницы
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog07.jpg" alt="")
        span Системы хранения Manhattan
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog08.jpg" alt="")
        span Измельчители Bone Crusher
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог
li.catalog-card
    .catalog-card__main
        img(src="./img/catalog09.jpg" alt="")
        span Иная продукция
    a(href="#!").catalog-card__link
        img(src="./img/catalog.svg" alt="catalog")
        | Перейти в каталог