section.partners
    .partners__container
        .partners__content
            .partners__logos
                img(src="./img/partners01.svg", alt="Partner")
                img(src="./img/partners02.svg", alt="Partner")
            .partners__socials
                a(href="#!")
                    img(src="./img/fb.svg", alt="")
                a(href="#!")
                    img(src="./img/tw.svg", alt="")
                a(href="#!")
                    img(src="./img/vk.svg", alt="")
                a(href="#!")
                    img(src="./img/inst.svg", alt="")
            .partners__img
                img(src="./img/media-logo.png", alt="")