.catalog
    margin-top: 132px

.catalog-content
    display: flex
    flex-direction: column
    gap: 103px

.catalog__title
    font-size: 48px
    font-weight: 700
    color: #333

.catalog-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)