.header
    background: #333
    background-image: url('./../img/bg.jpg')
    background-size: cover

    // Proportion
    aspect-ratio: 1920 / 811

    @media (-webkit-min-device-pixel-ration: 2), (min-resolution: 192dpi)
        background-image: url('./../img/bg@2x.jpg')

.header-content
    margin-top: 105px
    display: grid
    grid-template-columns: 4fr 2fr

    @media (max-width: 499px)
        grid-template-column: 1fr

.header-caption
    display: flex
    flex-direction: column
    gap: 8px

.header__title
    font-size: 64px
    font-weight: 900
    color: #FFF
    max-width: 764px
    text-transform: uppercase

    @media (max-width: 999px)
        font-size: 56px

    @media (max-width: 699px)
        font-size: 36px

    @media (max-width: 499px)
        width: 300px

.header__description
    font-size: 28px
    font-weight: 400
    color: #FFF
    max-width: 629px

    @media (max-width: 999px)
        font-size: 22px
        max-width: 480px

    @media (max-width: 699px)
        font-size: 18px

    @media (max-width: 499px)
        max-width: 400px

.header__swiper
    position: relative
    height: 406px
    margin-bottom: 77px