.offices-locations
    ul.offices-list
        .office-item
            li.office-item__title Reginox bv, Nederland
                img(src="./img/arrowdown.svg" alt="link")
            .office-item__info
                span 1 Loyang Lane #03-03 Singapore 508913
                .office-info__contacts
                    a(href="#!").office-contact.office-contact--phone
                        img(src="./img/phone.svg" alt="phone")
                        | + 65 (0) 67 88 53 63
                    a(href="#!").office-contact.office-contact--mail
                        img(src="./img/mail.svg" alt="mail")
                        | info@reginox.com.sg
                    a(href="#!").office-contact.office-contact--site
                        img(src="./img/site.svg" alt="site")
                        | reginox.sg
        .office-item
            li.office-item__title Reginox Rif Holding, Russia
                img(src="./img/arrowdown.svg" alt="link")
            .office-item__info
                span 1 Loyang Lane #03-03 Singapore 508913
                .office-info__contacts
                    a(href="#!").office-contact.office-contact--phone
                        img(src="./img/phone.svg" alt="phone")
                        | + 65 (0) 67 88 53 63
                    a(href="#!").office-contact.office-contact--mail
                        img(src="./img/mail.svg" alt="mail")
                        | info@reginox.com.sg
                    a(href="#!").office-contact.office-contact--site
                        img(src="./img/site.svg" alt="site")
                        | reginox.sg
        .office-item
            li.office-item__title Reginox, UK Ltd
                img(src="./img/arrowdown.svg" alt="link")
            .office-item__info
                span 1 Loyang Lane #03-03 Singapore 508913
                .office-info__contacts
                    a(href="#!").office-contact.office-contact--phone
                        img(src="./img/phone.svg" alt="phone")
                        | + 65 (0) 67 88 53 63
                    a(href="#!").office-contact.office-contact--mail
                        img(src="./img/mail.svg" alt="mail")
                        | info@reginox.com.sg
                    a(href="#!").office-contact.office-contact--site
                        img(src="./img/site.svg" alt="site")
                        | reginox.sg
        .office-item
            li.office-item__title Reginox, Singapure
                img(src="./img/arrowdown.svg" alt="link")
            .office-item__info
                span 1 Loyang Lane #03-03 Singapore 508913
                .office-info__contacts
                    a(href="#!").office-contact.office-contact--phone
                        img(src="./img/phone.svg" alt="phone")
                        | + 65 (0) 67 88 53 63
                    a(href="#!").office-contact.office-contact--mail
                        img(src="./img/mail.svg" alt="mail")
                        | info@reginox.com.sg
                    a(href="#!").office-contact.office-contact--site
                        img(src="./img/site.svg" alt="site")
                        | reginox.sg