section.link-list
    .link-list__container
        .link-list__content
            .link-list__section.link-list__section--about
                button.link-list__button О компании
                    img(src="./img/arrowup.svg", alt="")

                ul.link-list__about.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link Почему мы
                    li.link-list__item
                        a(href="#!").link-list__link Наши партнеры
                    li.link-list__item
                        a(href="#!").link-list__link Сертификаты и гарантии
                    li.link-list__item
                        a(href="#!").link-list__link Статьи
                    li.link-list__item
                        a(href="#!").link-list__link Информация
                    li.link-list__item
                        a(href="#!").link-list__link Каталоги
                    li.link-list__item
                        a(href="#!").link-list__link Доставка и оплата
                    li.link-list__item
                        a(href="#!").link-list__link Контакты
            .link-list__section.link-list__section--catalog
                button.link-list__button Каталог
                    img(src="./img/arrowup.svg", alt="")
                ul.link-list__catalog.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link Мойки
                    li.link-list__item
                        a(href="#!").link-list__link Смесители
                    li.link-list__item
                        a(href="#!").link-list__link Аксессуары
                    li.link-list__item
                        a(href="#!").link-list__link Плиты
                    li.link-list__item
                        a(href="#!").link-list__link Умывальники
                    li.link-list__item
                        a(href="#!").link-list__link Столешницы
                    li.link-list__item
                        a(href="#!").link-list__link Системы хранения Manhattan
                    li.link-list__item
                        a(href="#!").link-list__link Измельчители Bone Crusher
                    li.link-list__item
                        a(href="#!").link-list__link Другая продукция
            .link-list__section.link-list__section--brands
                button.link-list__button Бренды
                    img(src="./img/arrowup.svg", alt="")
                ul.link-list__brends.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link Reginox
                    li.link-list__item
                        a(href="#!").link-list__link Rodi
                    li.link-list__item
                        a(href="#!").link-list__link Whinstone
                    li.link-list__item
                        a(href="#!").link-list__link Rerith
                    li.link-list__item
                        a(href="#!").link-list__link Status
                    li.link-list__item
                        a(href="#!").link-list__link Bone Crusher
                    li.link-list__item
                        a(href="#!").link-list__link Armando Vicario
                    li.link-list__item
                        a(href="#!").link-list__link Webert
                    li.link-list__item
                        a(href="#!").link-list__link Effepi
                    li.link-list__item
                        a(href="#!").link-list__link Glionna Bagno
                    li.link-list__item
                        a(href="#!").link-list__link Аквафор