section.link-list
    .link-list__container
        .link-list__content
            .link-list__section
                button.link-list__button О компании
                ul.link-list__about.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
            .link-list__section
                button.link-list__button Каталог
                ul.link-list__catalog.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
            .link-list__section
                button.link-list__section
                ul.link-list__brends.link-list__nav
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link
                    li.link-list__item
                        a(href="#!").link-list__link