header.header
    .header__container
        .header__nav
            include nav.pug
            include header-mobile-nav.pug
        .header-content
            .header-caption
                h1.header__title Мойки, смесители и аксессуары
                p.header__description от ведущего производителя сантехники для кухни Reginox
            .header__swiper
                include swiper.pug