.nav-mid__menu
    button.nav-menu
        img(src="./img/menu.svg", alt="Menu")
        | Меню
    ul.nav-submenu
        li.nav-submenu__item Приложение
        li.nav-submenu__item Приложение
        li.nav-submenu__item Приложение