nav.nav
    .nav-top
        .nav-top__item
            include dropdown.pug
            a(href="#!").nav__feedback Обратный звонок
        .nav-top__item
            span Пн-Вс 10-19
            a(href="#!").nav__phone 8 (495) 229 85 59
    .nav-mid
        include nav-mid__menu.pug
        .nav-mid__logo
            img(src="./img/logos.svg", alt="Logo")
        .nav-mid__utils
            button
                img(src="./img/sort.svg", alt="Sort")
            button
                img(src="./img/search.svg", alt="Search")
            button
                img(src="./img/cart.svg", alt="Cart")
    .nav-bottom
        ul.nav-list
            li.nav-item
                a(href="#!").nav-link Мойки
            li.nav-item
                a(href="#!").nav-link Смесители
            li.nav-item
                a(href="#!").nav-link Аксессуары
            li.nav-item
                a(href="#!").nav-link Плиты
            li.nav-item
                a(href="#!").nav-link Умывальники
            li.nav-item
                a(href="#!").nav-link Manhattan
            li.nav-item.nav-item--submenu
                a(href="#!").nav-link Другая продукция
                ul.dropmenu
                    li.dropdown-menu__item Продукция
                    li.dropdown-menu__item Продукция
                    li.dropdown-menu__item Продукция