.swiper-pagination
.swiper
    .swiper-wrapper
        a(href="#!").swiper-slide
            h3.slide-title Стальные мойки Reg-color
        a(href="#!").swiper-slide
            h3.slide-title Стальные мойки Reg-color
        a(href="#!").swiper-slide
            h3.slide-title Стальные мойки Reg-color
        a(href="#!").swiper-slide
                h3.slide-title Стальные мойки Reg-color
        a(href="#!").swiper-slide
            h3.slide-title Стальные мойки Reg-color